<!-- include header  -->
<%- include('includes/_header')%>
<!-- end include header -->
 <!-- main section -->
 <div id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
             <a href="/" class="border-shadow">
                <span class="text-gradient"><i class="fas fa-chevron-circle-left"></i> All Users </span>
            </a>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update User</h2>
            <span class="text-light">Use the below form to update an account</span>
        </div>
        <!-- form handling start  -->
        <form method="POST" id="update_user">
           <div class="new_user">
               <div class="form-group">
                   <label for="name" class="text-light">Name</label>
                   <input type="hidden" name="id" value="<%= user._id %>"/>
                   <input type="text" name="name" value="<%= user.name %>" placeholder="Enter Your Name!"/>
               </div>
               <div class="form-group">
                <label for="Email" class="text-light">Email</label>
                
                <input type="email" name="email" value="<%= user.email %>" placeholder="Enter Your email!"/>
            </div>
            <div class="form-group">
                <label for="gender" class="text-light">Gender</label>
                <div class="radio inline">
                    <input type="radio" id="radio-1" name="gender" value="Male"  <%= user.gender == 'Male' ? 'checked' : '' %>>
                    <label for="radio-1" class="radio-label">Male</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="gender" value="Female" <%= user.gender == 'Female' ? 'checked' : '' %>>
                    <label for="radio-2" class="radio-label">Female</label>
                </div>
                
            </div>
            <div class="form-group">
                <label for="Status" class="radio-label">Status</label>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="Status" value="Active" <%= user.status == 'Active' ? 'checked' : '' %>>
                    <label for="radio-3" class="radio-label">Active</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-4" name="Status" value="Inactive" <%= user.status == 'Inactive' ? 'checked' : '' %>>
                    <label for="radio-4" class="radio-label">Inactive</label>
                </div>
                
            </div>
            <div class="form-group">
                <button type="submit" class="btn text-dark update">Save</button>
            </div>
           </div>
        </form>
    </div>
</div>
<!-- main section end -->
<!-- include footer  -->
<%- include('includes/_footer')%>
<!-- end include footer -->